<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/variables.css">
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash">
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
        
    <div class="container">
        <h2>Login</h2>

        <form method="post">
            <input type="email" name="useremail" placeholder="Enter email" required>

            <input type="password" name="userpassword" placeholder="Enter password" required>

            <button type="submit">Submit</button>
            
        </form>
        <a href="{{url_for("forgot")}}">Forgot link</a>
    </div>

</body>
</html>