<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
    <link rel="stylesheet" href="/static/variables.css">
    <link rel="stylesheet" href="/static/register.css">
</head>

<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash">
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="container animate-fade">
        <h2>Verify OTP</h2>
        <form method="post">
            <input type="text" name="userotp" placeholder="Enter OTP" required/><br><br>
            <button type="submit">Verify</button>
        </form>
    </div>
</body>
</html>