<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/variables.css">
    <link rel="stylesheet" href="/static/register.css">
</head>

<body>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash">
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="container">
        <h2>Register</h2>

        <form method="post" action="{{url_for('register')}}">
            <input type="text" name="username" placeholder="Enter username" required>

            <input type="email" name="useremail" placeholder="Enter email" required>

            <input type="password" name="userpassword" placeholder="Enter password" required>

            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>